// TODO Move css to appropiate components folder
// TODO Class name should always be same as component name
.course-header {
	text-align: center;
}

.course-input {
	width: 100%;
}

.course-input__container {
	padding: 10px 0;
}

.course-message {
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	padding: 5px 0;
}

.course-message_success {
	background-color: #66CC33;
}

.course-message_error {
	background-color: #FF6666;
	color: #fff;
}
