.courses-panel__list {
	margin: 15px 0;
}

.panel-list__header {
	font-size: 16px;
	padding: 5px 0;
	font-weight: bold;
}

.course-line {
	width: 100%;
	font-size: 16px;
	padding: 5px 0;
	&:nth-child(2n) {
		background-color: #E6E6FA;
	}
}

.header__link {
	color: blue;
}