<!DOCTYPE html>
<html>
<head>
    <base href='/' />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="assets/public/favicon.png"/>
    <link rel="stylesheet" href="assets/public/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{{title}}</title>
</head>
<body>
    <section id="react-app">{{{appCode}}}</section>
    <script>
        window.REDUX_DATA={{{appState}}}
    </script>
    <hr/>
    <div>&nbsp;&copy;&nbsp;Coding Bootcamp Ru, 2018</div>
    <br/>
    <style id="jss-server-side">{{{appCss}}}</style>
    <script type="text/javascript" src="assets/index.js"></script>
</body>
</html>
